*{
    margin: 0;
    padding: 0;
}
/* .header{
    height: 100vh;
    background-color: yellow;
}
.navbar-style{
    
} */

.header{
    /* background-color: yellow; */
   overflow-x: hidden;
    background-image: url(assets/images/header-bg.jpg);
    background-position: center;
    background-size: cover;
}
.learn-btn{
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    background-image: linear-gradient(to left, #f0460e, #feb301);
    border: none;
}
.nav-menu ul li{
    padding-right: 30px;
}
.nav-menu ul li a{
    text-transform: uppercase;
    font-weight: 400;
}
.header-content h1{
    font-size: 60px;
    color: #f0430e;
    text-transform: uppercase;
    margin-top: 220px;
    margin-left: 24px;
}
.header-content h2{
    font-size: 60px;
    color: #0c2e5c;
    text-transform: uppercase;
    margin-top: 35px;
    margin-left: 24px;
}
.header-content p{
    font-size: 15px;
    color: #9e9e9e;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 24px;
}
.header-content-btn{
    margin-top: 50px;
    margin-left: 24px;
    margin-bottom: 100px;
}

.learn{
    margin-top: 100px;
    margin-left: 30px;
}
.learn-text h3{
    font-size: 22px;
    color: #0c2e60;
    margin: 60px 0;
    font-weight: 700;
}
.learn-text p{
    font-size: 16px;
    color: #9e9e9e;
    margin-bottom: 40px;
}
.learn-text h5{
    font-size: 20px;
    color: #0c2e60;
    margin-bottom: 100px;
    text-transform: uppercase;
    
}
/* h5::after{
    content: '';
    background-color: red;
    height: 4px;
    width: 50%;
    text-align: center;
    position: absolute;
    display: block;
    margin: 0 auto;

} */

.work{
    height: 100vh;
}
.work-header p{
    color: #ef470d;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
}
.work-header h1{
    color: #0c2e5d;
    margin-top: 50px;
    font-size: 42px;
    font-weight: 700;
}
.content-area{
    margin: 50px 20px;
    padding: 20px;
    align-items: center;
    box-shadow: 5px 5px 15px #9e9e9e;
}
.work-content-header{
    margin-top: 70px;
    background-image: url(assets/images/work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.work-content-header h2{
    color: #0c2e5d;
    font-size: 22px;
    font-weight: 800;
}
.work-content-inner{
    margin: 50px 0;
}
.work-content-img{
    background-color: #f1f6f9;
    height: 100px;
    width: 100px;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: all ease 1s;
    display: flex;
    flex-direction: wrap;
}
.work-content-img:hover{
    background-color: #f04e0d;
}
.work-content-img img{
    position: absolute;
    top: 20px;
    height: 60px;
    width: 60px;
    left: 24px;

}
.work-content-text{
    display: inline;
}
.work-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.work-content-img{
    flex: 50%;
    max-width: 50%;
    display: inline-block;
}
.work-content-text{
    flex: 50%;
    max-width: 50%;
    display: inline-block;
    margin-left: 20px;
}
.work-content-text h3{
   color: #0c2e5d;
   font-size: 22px;
   font-weight: 700;
}
.work-content-text p{
    color: #83869b;
    font-size: 14px;
}
.search{
    background-color: #f6f7f8;
    height: 100vh;
}

